body {
    background-color: #111;
    margin: 0;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#game-container {
    width: 360px;
    height: 700px;
    margin: auto;
    background-color: #f0f0f0;
    user-select: none;
}

#game-items {
    width: 100%;
    height: 50px;
    background-color: #ddd;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 7.5px;
    box-sizing: border-box;
}

.menu {
    width: 32px;
    height: 32px;
    font-size: 24px;
    background-color: #555;
    color: #f0f0f0;
    display: flex;
    line-height: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #333;
}

.menu:hover {
    background-color: #333;
    cursor: pointer;
}

#option-button {
    position: absolute;
    right: 10px;
}

#game-board {
    width: 100%;
    height: 420px;
    background-color: green;
    display: flex;
    justify-content: center;
    position: relative;
}

#dealing-area {
    width: 200px;
    height: 280px;
    padding: 10px;
    border: 6px double #fc0;
    border-radius: 15px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 15px;
    bottom: 50px;
}

.card.ondeal {
    width: 45px;
    height: 60px;
    border: 3px dashed #fc0;
    box-sizing: border-box;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.card.ondeal.empty {
    font-size: 20px;
    font-weight: 650;
    color: #fc0;
}

#game-mainplayer {
    background-color: darkgreen;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    position: relative;
}

#game-mainplayer .player-name {
    display: inline-block;
    padding: 10px 15px;
    height: 15px;
    background-color: #940;
    color: #f0f0f0;
    font-weight: 600;
    border-radius: 10px;
    line-height: 1;
    position: absolute;
    z-index: 1000;
    top: -20px;
}

#game-mainplayer .card-deck {
    width: fit-content;
    margin-top: 40px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
}

.card.onplayer {
    width: 75px;
    height: 100px;
    border-radius: 7.5px;
    background-color: #f0f0f0;
    border: 1px solid #555;
    box-shadow: 1px 1px 2px#333;
    margin-left: -45px;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    box-sizing: border-box;
    position: relative;
}

.card.onplayer:first-child {
    margin-left: 0;
}

.card.onplayer:nth-child(1) {z-index: 1; }
.card.onplayer:nth-child(2) {z-index: 2; }
.card.onplayer:nth-child(3) {z-index: 3; }
.card.onplayer:nth-child(4) {z-index: 4; }
.card.onplayer:nth-child(5) {z-index: 5; }
.card.onplayer:nth-child(6) {z-index: 6; }
.card.onplayer:nth-child(7) {z-index: 7; }
.card.onplayer:nth-child(8) {z-index: 8; }

.card.onplayer:hover, .card.onplayer.picked {
    transform: translateY(-15px);
    z-index: 20;
    margin-right: 30px;
}

.card.onplayer.flipped {
    transform: rotateY(180deg);
}

.card.onplayer:last-child:hover, .card.onplayer:last-child.picked {
    margin-right: 0;
}

.card.onplayer .front-side, .card.onplayer .back-side {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card.onplayer .front-side {
    background-color: #05b;
    color: #fc0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    line-height: 1;
    border: 6px double #fc0;
    box-sizing: border-box;
}

.card.onplayer .back-side {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #f0f0f0;
    transform: rotateY(180deg);
}

.card.onplayer .back-side .suit {
    position: absolute;
    line-height: 1;
    bottom: 10px;
    font-size: 48px;
}

.card.onplayer .back-side .rank {
    position: absolute;
    line-height: 1;
    top: 10px;
    font-size: 32px;
    font-weight: 600;
}

.card .red {
    color: #c00;
}

.card .black {
    color: #111;
}